{% extends 'pagesApp.html.twig' %}
{% block addStylesheet %}
    <link rel="stylesheet" href="{{ asset('styles/novaVenda.css') }}">
{% endblock %}
{% block content %}
	<div class="container py-5">
		<div class="mb-4">
			<div class="mb-4 d-flex flex-row justify-content-between">
				<h1>Produtos</h1>
				<div>
			
					<a href="/produtos/cadastrar" class="btn btn-danger">
						<i class="bi bi-plus"></i>Novo produto</a> 
				</div>
			</div>
			{% include "mensagens.html.twig" %}
			<section class="tabela2">
				<div class="table-responsive">
					<table class="table-striped ">
						<thead class="tabela-topo">
							<tr>
								<th scope="col">id</th>
								<th scope="col">Nome</th>
								<th scope="col">Descrição</th>
								<th scope="col">Categoria Id</th>
								<th scope="col">Qtd. Disponível</th>
								<th scope="col">Valor</th>
								<th scope="col-2 text-align-right">Actions</th>
							</tr>
						</thead>
						<tbody id="tabela">
							{% for produto in produtos %}
								<tr>
									<th scope='row'>{{ produto.id }}</th>
									<td scope='row'>{{ produto.nome }}</td>
									<td scope='row'>{{ produto.descricao }}</td>
									<td scope='row'>{{ produto.getCategoriaId.getId }}</td>
									<td scope='row'>{{ produto.getQuantidadeDisponivel }}</td>
									<td scope='row'>R$ {{ produto.valor }},00</td>
									<td class="col-2 text-nowrap">
										<a href='/produto/add/{{ produto.id }}' class="btn btn-light btn-sm"><i class="bi bi-plus"></i></a>
										<a href="/produto/editar/{{ produto.id }}" class="btn btn-secondary btn-sm">
											<i class="bi bi-pencil"></i>
										</a>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
