{% extends "base.html.twig" %}

{% block title %}MS Code - Projeto 2024 {% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
  {% block addStylesheet %}{% endblock %}
{% endblock %}
{% block body %}
	<main>
		<div class="mb-2">
			<div class="container">
				<header class="d-flex flex-wrap justify-content-center align-items-center py-3">
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
						<img class="me-2" src="{{ asset('images/logo-light-mscode.png') }}" width="103">
						<span class="fs-4">pdv
							</span>
					</a>
					<ul class="nav nav-pills d-flex align-items-center">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Vendas
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/error">Vendas realizadas</a>
								</li>
								<li>
									<a class="dropdown-item" href="/" onclick="reloadPage()">Nova venda</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Produtos
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/produtos">Estoque</a>
								</li>
								<li>
									<a class="dropdown-item" href="/categorias">Categorias</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Cadastrar
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="{{ path('usuario_route_name') }}">Usuário</a>

								</li>
								<li>
									<a class="dropdown-item" href="/clientes">Cliente</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="{{ path('login') }}" class="btn btn-outline-danger m-0 ms-4 exit-button" aria-current="page">Sair</a>
						</li>
					</ul>
				</header>
			</div>
		</div>
	</main>
	{% block content %}{% endblock %}
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function reloadPage() {
			window.location.href = '/';
		}
	</script>
{% endblock %}
