{% extends "pagesApp.html.twig" %}

{% block title %}
    Nova venda
{% endblock %}
{% block addStylesheet %}
    <link rel="stylesheet" href="{{ asset('styles/novaVenda.css') }}">
{% endblock %}
{% block content %}
    <main>
        <h2 class="text-white h2 p-2 mb-3">Nova Venda</h2>

        <section>
            <div class="card-area">
               <div class="card-item">
                <div class="card-top">
                    <span class="card-titulo">Total</span>
                    <div class="card-right">
                        <img src="{{ asset('images/simbolo-do-dolar.png') }}" alt="simbolo-do-dolar.png">
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="resultado">R$ - </p> <!-- Este é o local onde o valor total deve aparecer -->
                </div>
            </div>
                <div class="card-item">
                    <div class="card-top">
                        <span class="card-titulo">Status</span>
                        <div class="card-right">
                            <img src="{{ asset('images/status.png') }}" alt="status.png">
                        </div>
                    </div>
                    <div class="card-bottom">
                        <p class="resultado">-</p>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-top">
                        <span class="card-titulo">Data</span>
                        <div class="card-right">
                            <img src="{{ asset('images/calendario-de-parede-mensal.png') }}" alt="calendario-de-parede-mensal.png">
                        </div>
                    </div>
                    <div class="card-bottom">
                        <p class="resultado">-</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="formulario">
            <form id="finalizarVendaForm" action="{{ path('finalizarCarrinho') }}" method="POST" data-turbo="false">
                <p class="texto">Cliente*</p>
                <div class="formulario-area">
                    <select class="form-select" id="cliente-Select" name="cliente" required>
                        <option value="">Selecione um cliente</option>
                    </select>
                    <button type="submit" class="Finalizar-button" >
                        <strong>Finalizar venda</strong>
                    </button>
                </div>

              
                <div id="produtosHidden"></div>

                <p class="texto">Produto*</p>
                <div class="formulario-area">
                    <select class="form-select" id="produto-Select" name="produto">
                        <option value="">Selecione um produto</option>
                    </select>
                </div>
            </form>
        </section>

        <section class="tabela">
            <table>
                <thead>
                    <tr class="tabela-topo">
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Estoque</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Total</th>

                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tabela">
                     <td>nenhum carrinho selecionado</td>
                </tbody>
            </table>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script>
    let carrinhoId; 
    let produtosCarrinho = [];

    async function carregarClientes() {
        try {
            const response = await fetch('/api/clientes', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (!response.ok) throw new Error('Erro ao carregar clientes');
            const clientes = await response.json();

            const clienteSelect = document.getElementById('cliente-Select');
            clientes.forEach(cliente => {
                const option = document.createElement('option');
                option.value = cliente.id;
                option.textContent = cliente.nome;
                clienteSelect.appendChild(option);
            });
        } catch (error) {
            console.error('Erro ao carregar clientes:', error);
        }
    }

    
   

    function habilitarBotaoFinalizarVenda() {
        const tabela = document.getElementById('tabela');
        const produtosAdicionados = tabela.getElementsByTagName('tr').length > 0;
        const finalizarButton = document.querySelector('.Finalizar-button');
        finalizarButton.disabled = !produtosAdicionados;
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        carregarClientes();
        

        const clienteSelect = document.getElementById('cliente-Select');
        clienteSelect.addEventListener('change', function() {
            const clienteId = this.value;

            if (clienteId) {
                fetch(`/api/buscar-ou-criar-carrinho/${clienteId}`)
                    .then(response => { 
                        if (false === response.ok) {
                            return Promise.reject(response);
                        }

                        return response.json();
                    })
                    .then(data => {
                        carrinhoId = data.carrinho.id;
                        displayCarrinhoInfo(data.carrinho);
                        preencherCards(data.carrinho); 
                        carregarProdutos();
                    })
                    .catch(response => response.json().then(data => alert(data.error)))
            }
        });
         async function carregarProdutos() { 
        try {  
            const response = await fetch(`/api/produto/consultar/${carrinhoId}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });

            if (!response.ok) throw new Error('Erro ao carregar produtos');
            console.log(response)
            const produtos = JSON.parse(await response.json());
            const produtoSelect = document.getElementById('produto-Select');
           
            console.log(Array.isArray(produtos))
            if(Array.isArray(produtos)){
                produtos?.forEach(produto => {
                const option = document.createElement('option');
                option.value = produto.id; 
                option.textContent = produto.nome;
                produtoSelect.appendChild(option);
                 produtoSelect.addEventListener('change', function() {
                const produtoIdSelecionado = this.value;
                const produtoSelecionado = produtos.find(produto => produto.id == produtoIdSelecionado);

                if (produtoSelecionado) {
                    const produtoJaAdicionado = produtosCarrinho.some(produto => produto.id == produtoSelecionado.id);

                    if(produtoJaAdicionado){
                        return;
                    }else{
                         const tabela = document.getElementById('tabela');
                        const novaLinha = document.createElement('tr');
                        // Adicionar produto à lista de produtos do carrinho
                        produtosCarrinho.push({
                            id: produtoSelecionado.id,
                            quantidade: 1 // Quantidade inicial padrão
                        });
                        novaLinha.innerHTML = `
                            <td>${produtoSelecionado.nome}</td>
                            <td>${produtoSelecionado.categoria || 'Categoria'}</td>
                            <td>${produtoSelecionado.qt_disponivel}</td>
                            <td><input class="input-number rounded" type="number" value="1" min="1" max="${produtoSelecionado.qt_disponivel}"></td>
                            <td>${produtoSelecionado.valor.toFixed(2)}</td>
                        `;
                        
                        tabela.appendChild(novaLinha);

                        let totalAtual = parseFloat(document.querySelector('.card-item .resultado').textContent.replace('R$', '').trim()) || 0;
                        totalAtual += produtoSelecionado.valor;
                        document.querySelector('.card-item .resultado').textContent = `R$ ${totalAtual.toFixed(2)}`;

                        const dataAtual = new Date().toLocaleDateString('pt-BR');
                        document.querySelectorAll('.card-item .resultado')[2].textContent = dataAtual;
                    }
                }
            });
            });
            }
         
            
           
        } catch (error) {
            console.error('Erro ao carregar produtos:', error);
        }
    }

    
        const form = document.getElementById('finalizarVendaForm');
        form.addEventListener("submit",function(event){
            event.preventDefault();

            const dados = {
                cliente: clienteSelect.value,
                produtos: produtosCarrinho.map(produto => ({
                    id: produto.id,
                    quantidade: produto.quantidade
                }))
            };

            fetch('{{ path('finalizarCarrinho') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message || data.error);
            })
            .catch(error => {
                console.error('Erro ao finalizar venda:', error);
            });

        }) 

        function displayCarrinhoInfo(carrinho) { 
            const carrinhoInfoDiv = document.getElementById('tabela');
            carrinhoInfoDiv.innerHTML = '';

            carrinho.items.forEach(item => {
                carrinhoInfoDiv.innerHTML += `
                    <tr>
                        <td>${item.produto.nome}</td>
                        <td>${item.produto.categoria_id.id}</td>
                        <td>${item.produto.qt_disponivel}</td>
                        <td class="quantidade">
                            <input class="input-number" type="number" value="${item.produto.qt_disponivel}" min="1">
                        </td>
                        <td>${item.valor.toFixed(2)}</td>
                    </tr>
                `;
            });
        }

       function preencherCards(carrinho) { 
            const cards = document.querySelectorAll('.card-item .card-bottom .resultado');

            const total = carrinho.valor_total && !isNaN(carrinho.valor_total) ? carrinho.valor_total : 0;
            cards[0].textContent = `R$ ${total.toFixed(2)}`; 

            const status = carrinho.status || '-';
            cards[1].textContent = status;

            const dataCriacao = carrinho.criado_em || '-';
            cards[2].textContent = dataCriacao;
        }
    });
</script>
{% endblock %}
